@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*=============== VARIABLES ===============*/
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
 
  --font-medium: 500;
}

/*=============== RESET ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body {
  color: var(--black-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login, .register {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.login__img, .register__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.login__form, .register__form {
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  overflow: hidden; 
}

.login__title, .register__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.login__content, .login__box, .register__content, .register__box {
  display: grid;
}
.login__content, .register__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.login__box, .register__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #918f8f;
}
.login__icon, .login__eye, .register__icon, .register__eye {
  font-size: 1.25rem;
}
.login__input, .register__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--black-color);
  position: relative;
  z-index: 1;
}
.login__box-input, .register__box-input {
  position: relative;
}
.login__label, .register__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.login__eye, .register__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input, .register__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.login__check, .login__check-group, .register__check, .register__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check, .register__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .register__forgot, .register__register, .register__check-label, .register__forgot, .register__register {
  font-size: var(--small-font-size);
}
.login__check-group, .register__check-group {
  column-gap: 0.5rem;
}
.login__check-input, .register__check-input {
  width: 16px;
  height: 16px;
}
.login__forgot, .register__forgot {
  color: var(--black-color);
}
.login__forgot:hover, .register__forgot:hover {
  text-decoration: underline;
}
.login__button, .register__button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white-color);
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
}
.login__register, .register__register {
  text-align: center;
}
.login__register a, .register__register a {
  color: var(--black-color);
  font-weight: var(--font-medium);
}
.login__register a:hover, .register__register a:hover {
  text-decoration: underline;
}

.login__input:focus + .login__label, .register__input:focus + .register__label{
  top: -12px;
  font-size: var(--small-font-size);
}

.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label, .register__input:not(:placeholder-shown).register__input:not(:focus) + .register__label {
  top: -12px;
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 576px) {
  .login, .register {
    justify-content: center;
  }
  .login__form, .register__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .login__title, .register__title {
    font-size: 2rem;
  }
}

.swal2-confirm {
  background-color: #0d77d4 !important;
}