@charset "UTF-8";
/*=============== FUENTES Y VAR ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== MEDIA QUERIES ===============*/
/*=============== RESETEO ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
}
*::-moz-selection {
  color: white;
  background-color: #0d77d4;
}
*::selection {
  color: white;
  background-color: #0d77d4;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../img/facultad_de_ingenieria_ph1.avif);
  background-attachment: fixed;
  background-size: cover;
}
@media screen and (max-width: 920px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(../img/facultad_de_ingenieria_ph6.avif);
  }
}

a:focus-visible {
  outline: 1px solid #3f3f3f;
  border-radius: 10px;
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/*=============== AJUSTES BOOTSTRAP ===============*/
.table {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.table td {
  max-width: 200px;
}

/*=============== PRELOADER ===============*/
.loader {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disappear {
  animation: vanish 300ms forwards;
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*=============== HEADER ===============*/
header {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}
header p {
  margin: 0 5%;
}
header button {
  margin: 0 5%;
  padding: 0.7rem;
  background-color: transparent;
  border-radius: 25px;
  border: solid white 1.7px;
  color: white;
  transition: all 300ms;
}
header button:hover {
  scale: 1.09;
}

/*=============== PÁGINA PRINCIAPL ===============*/
.title h1 {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.title div {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
}

.curricula {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primer__anio, .segundo__anio, .tercer__anio, .cuarto__anio, .quinto__anio, .opcional {
  display: inline-block;
  border-bottom: solid #ffffff;
}
.primer__anio .curso, .segundo__anio .curso, .tercer__anio .curso, .cuarto__anio .curso, .quinto__anio .curso, .opcional .curso {
  padding: 0.8rem;
  margin: 1rem;
  transition: 150ms;
  border-radius: 25px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.7882352941);
  color: #1d1d1d;
  font-weight: bold;
}
.primer__anio .curso:hover, .segundo__anio .curso:hover, .tercer__anio .curso:hover, .cuarto__anio .curso:hover, .quinto__anio .curso:hover, .opcional .curso:hover {
  scale: 1.03;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.primer__anio .aprobado, .segundo__anio .aprobado, .tercer__anio .aprobado, .cuarto__anio .aprobado, .quinto__anio .aprobado, .opcional .aprobado {
  background-color: rgba(255, 186, 8, 0.7882352941);
}
.primer__anio .exonerado, .segundo__anio .exonerado, .tercer__anio .exonerado, .cuarto__anio .exonerado, .quinto__anio .exonerado, .opcional .exonerado {
  background-color: rgba(56, 176, 0, 0.7882352941);
}
.primer__anio .deshabilitado, .segundo__anio .deshabilitado, .tercer__anio .deshabilitado, .cuarto__anio .deshabilitado, .quinto__anio .deshabilitado, .opcional .deshabilitado {
  background-color: red;
}

.quinto__anio {
  border-bottom: none;
}/*# sourceMappingURL=style.css.map */