/*=============== PÁGINA PRINCIAPL ===============*/
.title {  
  color: #ffffff;

  h1 {
    text-align: center;
    font-weight: bold;    
  }

  .guia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    p {
      margin: 0;
      padding: .7rem;
      border-radius: 25px;
      border-color: transparent;
      background-color: #ffffffc9;
      color: $fontColor;
      font-weight: bold;
      font-size: 17px;
    }

    .aprobado {
      background-color: #ffba08c9;
  
    }
  
    .exonerado {
      background-color: #38b000c9;
    }
  }

  .creditos {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.limpiar {
  display: flex;
  align-items: center;
  justify-content: center;

  &-btn {
    padding: .4rem .8rem;
    margin: 0;
    transition: 150ms;
    border-radius: 25px;
    border-color: transparent;
    background-color: #ffffffc9;
    color: $fontColor;
    font-weight: bold;

    &:hover {
      scale: 1.03;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

.curricula {
  text-align: center;
  color: #ffffff;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primer__anio, .segundo__anio, .tercer__anio, .cuarto__anio, .quinto__anio { 
  display: inline-block;
  border-top: solid #ffffff;

  .curso {
    padding: .8rem;
    margin: 1rem;
    transition: 150ms;
    border-radius: 25px;
    border-color: transparent;
    background-color: #ffffffc9;
    color: $fontColor;
    font-weight: bold;

    &:hover {
      scale: 1.03;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .aprobado {
    background-color: #ffba08c9;

  }

  .exonerado {
    background-color: #38b000c9;
  }

  .deshabilitado {
    background-color: red;
  }
}