/* ------- PÁGINA PRINCIAPL ------- */
body {
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3)), url(../img/facultad_de_ingenieria_ph1.avif);
  background-attachment: fixed;
  background-size: cover; 
}

.color-overlay {
  background-color: #ffffff;
}

.title {
  h1 {
    color: #ffffff;
    text-align: center;
    margin: 2rem;
    font-weight: bold;    
  }
}

.curricula {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primer__anio,
.segundo__anio,
.tercer__anio,
.cuarto__anio,
.quinto__anio,
.opcional { 
  display: inline-block;
  border-bottom: solid #ffffff;

  .curso {
    padding: 1rem;
    margin: 1rem;
    transition: 150ms;
    border-radius: 25px;
    border-color: transparent;

    &:hover {
      scale: 1.03;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
