/* ------- RESETEO ------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $fontMontserrat;
	scrollbar-width: none;

  &::selection {
    color: white;
    background-color: $mainColor;
  }
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3)), url(../img/facultad_de_ingenieria_ph1.avif);
  background-attachment: fixed;
  background-size: cover; 
}

a:focus-visible {
	outline: 1px solid #3f3f3f;
	border-radius: 10px;
	padding: 4px;
}

::-webkit-scrollbar-thumb {
	background: transparent;
}

::-webkit-scrollbar {
	width: 0; 
	background: transparent;
}