/*=============== FUENTES Y VAR ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$fontPoppins: 'Poppins', sans-serif;

$mainColor: #0d77d4;
$fontColor: #1d1d1d;