/* ------- FUENTES / VARIABLES------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,300&display=swap');

$fontMontserrat: 'Montserrat', sans-serif;
$mainColor: rgb(13, 119, 212);
$fontColor: #1d1d1d;